

body {
margin: 0 0;
display: normal;	
}	
.abc {
min-width: 1300px;
height: 100%;
overflow-x:hidden;
}	

.a1 {
width: 1300px;
height: 800px;	

 margin: 0 auto;
 /*overflow: hidden; */
   position: relative;
}

.centr {
	
width: 200px; 
height: 130px;
top:0;	
left:10px;
   position: relative;
}	


.centr1 {
	
width: 90px; 
height: 100%;
  position: relative;
   float: left;
   display: inline-block
}	

.centr1 img {
padding-top: 15px;
width: 80px; 	
height: 75px;

position: relative;
}	


.centr2 {
width: 100px;
height: 120px;
padding-left: 0px;
  position: relative;
padding-top: 11px;
	 display: inline-block;
}	

.centr2 h1 {
	padding-left: 0px;
	line-height: 0.3em; 
font-size: 24px;	
	font-family: 'Bahnschrift SemiBold',Arial; 
	color: #354f7b;
}	

.lef11{
width: 58.6%;
height: 575px;

    position: relative;
	float: left;

top: 5px;

	
}


.lef12 {
display: inline-block;

  position: relative;
  left: 5px;
width: 100%; 
}

.lef121 {
font-size: 74px;
font-weight: bold;
height: 260px;
color: #3b4159;
	font-family: 'Montserrat',Arial,sans-serif;
	   position: relative;
 top: -40px;
}


.lef122  {
font-size: 14px;
 top: -30px;
 font-weight: 200;
padding: 0 0 0 5px;
color: #454b62; 
font-family: 'Montserrat',Arial, cursive;
 position: relative;
}

.rig1 {
	top: 20px;
 position: absolute;
width: 525px;
height: 692px;
 
 right: 0px;
  background: url(banner1.png) no-repeat ;
  background-size: 100%;
float: left;
right: 5px;

}	

.prm {

 /*overflow: hidden; */
  position: relative;

  height: 241px;
margin: 0px auto 20px  ;	
   position: relative;
   width: 1254px;
   text-align: center;
}

.menu {
	bottom: 25px;
	width: 100%;
height: 30px;	

text-align: center;
 /*overflow: hidden; */
   position: absolute;
   
}

.menu a{
	text-decoration: none;
	width:130px;
	height: 24px;
	display: inline-block;
	margin: 0px 40px;
	background: #f5f5f5 ;
	padding-top: 5px ;
border-radius: 40px;
color: #3b4159;
 border: 1px solid black; 
}	



.preim {
width: 245px;
 border: 1px solid black; 
	float: left;
	  margin: 2px ;
	   text-align: center;
	height:235px;
}

.prm0 {
width: 239px;
height:229px;
border: 1px solid black; 
  margin: 2px ;
}


.prm1 {
	height:60px;
	font-size: 26px;
	vertical-align: middle;
	top:0;
	border: 1px solid black; 
line-height: 0.1em; 
width: 233px;
margin: 2px auto;
}
	

.prm2 {
	height:150px;
	font-size: 18px;
	vertical-align: super;
	top:1px;
	border: 1px solid black;
padding: 5px;	
width: 223px;
margin: 2px auto;
}





.prms {

 /*overflow: hidden; */


  height: 100%;
margin: 0px auto   ;	
   position: relative;
   width: 100%;
   text-align: center;
}


.preims {
max-width: 19.5%;
 border: 1px solid black; 
	float: left;
	  margin: 2px ;
	   text-align: center;
	height:235px;
	
}

.prm0s {
max-width: 97.5%;
height:229px;
border: 1px solid black; 
  margin: 2px  ;
}


.prm1s {
	height:60px;
	font-size: 25px;
	vertical-align: middle;
	top:0;
	border: 1px solid black; 
line-height: 0.1em; 
max-width:  98%;
margin: 2px ;
}
	

.prm2s {
	height:150px;
	font-size: 18px;
	vertical-align: super;
	top:1px;
	border: 1px solid black;
padding: 5px;	
max-width: 94%;
margin: 2px ;
}

.skd {
min-width: 1300px;
height: 200px;	
background: #6f8cfa;
color: white;

}	


.skd0 {
width: 1300px;
height: 200px;	
margin: 0 auto;

}
.skd1 {
	text-align: center;
	float: left;
width: 500px;	
height: 100%;

 font-size: 30px;
 line-height: 0.9;
}	

.skd2 {
	
	float: left;
width: 400px;	
height: 100%;
text-align: center;
line-height: 0.9em;
border: 0px solid black;
}

	
.skd2 p{
	font-size: 70px;
	text-align: center;
	bottom: 20px;
	 position: relative;
	 right: 35px;
}

.skd3 {
	height:100%;
	float: left;
width: 390px;	

 position: relative;
   text-align: center;
    line-height: 0.1em;
}	

.bottm {
margin: 0px 50% 0px 0px;  /* не трогать 1-й блок   */
 
padding-left: 30px;
}	


.bot0m {

top:50px;
 position: relative;	
}	

.skd3 p {
 position: relative;		
top:54px;		
}

button {
width:270px;
height: 60px;
display: inline-block;	
background: #518c03; 
border-radius: 50px;
cursor: pointer;
color: white;
 font-size: 17px;
}	


.prof1{
 top: -50px;
 height: 550px;
 min-width: 1300px;
background: #f3f6fb;
	   display: block;
	   position: relative;
	   margin: 0 auto;
	 
}

.prof {
  width: 1200px;
  height: 520px;
  margin: 0 auto 0 auto ;	
  	   display: block;
	   position: relative;
	   top: 70px;
	   
}

.prog {
	margin: 10px 80px 30px 5px;
	height: 50px;
	font-size: 40px;
	   line-height: 0.1em;

}

.pfH1 {

  height: 94px;	
 
font-weight: 600;
}	

.pfH1 p {
font-size: 25px;
}	

.hg p {

}

.hr p  {
vertical-align: 10px;
display:inline-block;
}

.pftx {
	width: 380px;
	
}	

.pftx p {

font-size: 20px;
padding: 0px 50px 10px 50px;	
}	

.pfimg {
	
	  height: 130px;
	 
}	

.pfimg img{
  height: 130px;
width: 130px;
}

.pf {
	  width: 33%;
  height: 80%; 
  
   float: left;
   text-align: center;
   color: #2c3337; 
   font-family: 'Montserrat',Arial, cursive;
margin: 0 auto;
}



	

.yrok {
position: relative;	
z-index: -1;

 min-width: 1300px;
  height: 350px;
	  background: url(007.jpg) no-repeat ;
   background-size: 100%;	
   opacity: 0.9;
}
.yrok01 {
	  background: #ffa914 ;
  width: 100%;
  height: 350px;
opacity:0.9;
z-index: -1;

}

.yrok0 {
  width: 1300px;
  height: 100%;
  margin: 0 auto;	

  z-index: 10; 

} 



.yrok1 {
	margin-left: 140px;
 width: 1000px;	

  float: left;
   height: 350px;
padding-left: 30px;

}

.yrok1 p {
color: white;
font-size: 36px;
padding-left: 30px;
 line-height: 0.4em;
}


.yrok2 {
 filter:alpha(opacity=100);
   -moz-opacity: 100;
 width: 1280px;	
z-index: 43;
 height: 350px;
float: right;
opacity: 100;
	position: relative;
left: 280px;
top: 80px;
	margin: 0 auto;
	color: white;
font-size: 24px;
  line-height: 1.5em;
  
}

.yrok2 ol {
color: white;
font-size: 24px;
  line-height: 1.5em;	
}


.yrok2 p {
color: white;
font-size: 36px;
padding-left: 30px;
 line-height: 0.4em;
}

.yrok3 {
width: 285px;
 background: url(008.png) no-repeat ;
   background-size: 150%;	
 height: 100%;
 background-position: center;
  float: right;
z-index: 45;
opacity: 100;
 filter:alpha(opacity=100);
   -moz-opacity: 100;
 } 

.yroktt {
	
width: 100%;	
	
}	




.pgks {
 min-width: 1300px;		
 height: 950px;	
  background: #9ec2ff;
    position: relative;
}	

.pgks1  {
 width: 1100px;		
 height: 850px;	
  background: white ;	
	margin: 50px auto 30px auto ;
   position: absolute;
   left: 0;
right: 0;
padding-left:50px;
padding-right:50px;
}

.hh1 {
padding-top: 15px;
	font-size: 14px;
font-weight: 400;
font-family: arial,sans-serif;
	
}	

.gg {
 min-width: 1300px;		
 height: 200px;	
   background: white ;

}	

.gg1  {
 width: 800px;		
 height: 200px;	
margin: -20px auto 10px auto;
position: relative;

}

.ggH2 {	
  line-height: 0.1em;

  top: -30px;
font-size: 60px;
text-align: center;
 height: 30px;	
    position: relative; 
}
	
.ggp3 p{
padding-left: 40px;	
color: #1a0dab; 
font-size: 20px;
font-weight: 400;
font-family: arial,sans-serif;
text-align: left;

  top: -20px;
  line-height: 0.1;
}

.ggp4  {
	padding-left: 40px; 
  top: 0px;
line-height: 1.58;
font-size: 14px;
font-family: arial,sans-serif;	
 position: relative; 

}

.vst {

height: 500px;
min-width: 1300px;
margin: 0 auto;
background: url(1115.jpg) no-repeat ;

background-position: center;
}

.vst0 {
top: 0;
width: 100%;
 opacity: 0.4 ;
 background: black;
height: 100%;



}

.vst1 {		
margin: 0 auto;
height: 500px;
width: 1300px;

position: relative;
}


.vst3{
  position: relative;	
font-size: 50px;
font-weight: 600;
width: 600px;
left: 30px;
text-align: center; 

margin: 70px 0 0 20px;
	font-family: 'Montserrat',Arial,sans-serif;
	color: white;
	top:0;
	
	position: absolute;
}

.vst2 {

	  right: 20px;
	  text-align: center;
}


.podv {		

height: 60px;
min-width: 1300px;
background: #151719;
width: 100%;
position: relative;
}

.podv0 {		
height: 20px;
width: 1000px;
background: #151719;
color: white;
padding: 3px 40px;
}


@media(max-width:500px){

	
.rig1 {
width: 525px;
height: 692px;
top: 10px;
 position: absolute;
 right: 0px;
  background: url(banner1.png) no-repeat ;
  background-size: 100%;
float: left;
right: 5px;

}

.lef122 {
	font-size: 0px;
	width: 0px;
	height:0px;
	}

.lef121 {
	font-size: 70px;
	margin-left: 30PX;
		width: 500px;
	 top: 0px;
	}

.bottm {
margin: 40px 50% 0px 0px;
padding-left: 40px		
}

.centr {
margin-top: 30px;
margin-left: 30px;
}

.prm {
 /*overflow: hidden; */
  position: relative;
  height: 700px;
margin: 20px auto  ;	
   position: relative;
   width: 1254px;
   text-align: center;
}

.preims {
height: 328px;
max-width: 400px;	
 border: 3px solid black; 
 margin: 4px;
}	

.prm0s {
  height: 314px;
  max-width: 385px;
   border: 3px solid black; 
   margin: 4px 3px;
   
   max-width: 97%;	
}

.prm1s {
height: 110px;	
margin: 3px 3px;	
border: 2px solid black; 
}

.prm1s p {
font-size: 40px;	
line-height: 1em;	
}


.prm2s {
	max-width: 93%;
	  border: 2px solid black;
	 height: 168px;
	  margin: 3px 3px;
	  font-size: 23px;
	  padding: 10px 15px;
}	
.serid {
width: 200px;	 
 border: 0px solid black; 
height: 300px;
float:left;

}	
}

